* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #000000;
    --bg-button-color: #1a1a1a;
    --bg-task-color: #302a2a74;
    --primary-text-color: #f4f4f4;
    --bg-delete-color: #ff4d4d;
    /* border radius variable */

    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

    /* padding variables */

    --navbar-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    padding: var(--navbar-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    background-color: var(--bg-button-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
}

section {
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: var(--padding-xxl);
    /* background-color: blue; */
}

section .task-column {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    flex-grow: 1;
    width: 100%;
    background-color: var(--bg-button-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    /* background-color: red; */
}

section .task-column.hover-over {
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-column .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

section .task-column .task {
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    cursor: grab;
    /* margin-top: 10px; */
}

section .task-column .task button {
    align-self: flex-end;
    background-color: var(--bg-delete-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: var(--padding-s) var(--padding-m);
    cursor: pointer;
    border-radius: var(--border-radius-s);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


.modal .center {
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select {
    background-color: var(--bg-task-color);
    color: var(--primary-text-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;

}

.modal .center button {
    background-color: var(--bg-delete-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    width: fit-content;
    align-self: center;
}

@media screen and (max-width: 760px) {
    section {

        padding: var(--section-padding);
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        gap: var(--padding-xxl);

    }
}